<div class="container-grid">
  <header>
    <h1> <strong> Unclogd </strong> </br></br></h1>
  </header>

  <nav>
  </br>
    <ul class="dashboard-links">
    <ul style="list-style-type:none;">
    <li><strong> << Account </strong></li>
    <li>Overview</li>
    <li>My Cabinet</li>
    <li>Account information</li>
    <li>Orders</li>
    <li>Returns</li>
   </ul>
  </nav>

  <main>
  <div class="container bootstrap snippet">
  <div class="edit"> <h1> <span class="glyphicon glyphicon-user"> </span>  Edit Profile</h1> </div>
  <br />
    <br />
  <div class="row">
    <!-- Below was the form to upload a pic -->
    <div class="col-md-3">
    <!--   <div class="text-center">
        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
        <%= simple_form_for(@user) do |f| %> <br>
        <%= f.button :submit, "Upload", class: "btn btn-success" %>
        <% end %> <br> -->
      </div>
    </div>
    <div class="col-md-9 personal-info">
      <%= simple_form_for(@user, url: registration_path(:user), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <!-- edit form column -->
      <!-- <h3>Personal info</h3> -->
      <div class="form-horizontal" role="form">
     <!--    <div class="form-group"> -->
          <!-- <div class="col-lg-8"> -->

    <!--     <%#= f.input :photo, label: 'Upload Photo' %>
        <%#= f.input :photo_cache, as: :hidden %>
        </div>
          </div> -->


        <div class="form-group">
          <div class="col-lg-8">
            <%= f.input :name,
            hint: "leave it blank if you don't want to change it",
            required: false,
            input_html: { autocomplete: "your-name" } %>
          </div>
          </div>

          <div class="form-group">
          <div class="col-lg-8">
              <%= f.input :email, required: true, autofocus: true %>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.input :password,
            hint: "leave it blank if you don't want to change it",
            required: false,
            input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.input :password_confirmation,
            required: false,
            input_html: { autocomplete: "new-password" } %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.input :current_password,
            hint: "we need your current password to confirm your changes",
            required: false,
            input_html: { autocomplete: "current-password" } %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.input :address %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-8">
            <%= f.button :submit, "Update", class: "btn btn-success" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<hr>


  </main>


</div>
