<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans" rel="stylesheet">

<div class="main-container">
  <a href="/items" class="browse-container">
    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'magnifying-glass-white.svg', class: "picture" %>
      <h1>Browse</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="text-container">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  </a>


  <a href="/items" class="find-container">
    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'magnifying-glass-white.svg', class: "picture" %>
      <h1>Browse</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="text-container">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  </a>


  <a href="/items" class="check-container">


    <% if current_user %>
      <h1><%= link_to user_path(current_user) do %></h1>
        <div>
          <h1>check</h1>

        </div>
    <% else %>
      <h1><%= link_to new_user_session_path %></h1>
    <% end %>



      <div>
        <%= image_tag 'tick-white.svg', class: "picture" %>
        <h1>Check</h1>
        <p>⟶</p>
      </div>

        <div class = "hidden-text">
          <p>Check your cabinet<br>Check if your chosen products are compatible</p>
        </div>
      </div>
  </a>

</div>

