<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans" rel="stylesheet">
<div class="flash-screen">
  <div>
    <%= image_tag "logo_white.png", class: "flash-logo" %>
    <p>Find your perfect skincare</p>
    <button class="btn btn-info btn-lg" id="flash-button">Get started</button>
  </div>
</div>
<div class="main-container">
  <%= link_to items_path, class: 'browse-container' do %>
  <div class="col1">
  </div>
  <div class="col2">
    <%= image_tag 'magnifying-glass-white.svg', class: "picture" %>
    <h1>Browse</h1>
    <p>⟶</p>
  </div>
  <div class="col3">
    <div class="hidden-text">
      <p>Browse for skincare items<br>through carefully chosen products</p>
    </div>
  </div>
  <% end %>
  <%= link_to quiz_path, class: 'find-container' do %>
  <div class="col1">
  </div>
  <div class="col2">
    <%= image_tag 'solution.svg', class: "picture" %>
    <h1>Quiz</h1>
    <p>⟶</p>
  </div>
  <div class="col3">
    <div class="hidden-text">
      <p>Get matched with the perfect skincare products</p>
    </div>
  </div>
  <% end %>
  <div class="check-container">
    <div class="col1">
      <% if current_user.nil? %>
      <div class="homepage-login hidden-text">
        <ul>
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "main-navbar-link", id: "login" %>
          <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "main-navbar-link", id: "signup" %>
        </ul>
      </div>
      <% end %>
    </div>
    <!--  </div> -->
    <div class="col2">
      <% if current_user %>
      <%= link_to user_path(current_user) do %>
      <%= image_tag 'tick-white.svg', class: "picture" %>
      <h1>Compare</h1>
      <p>⟶</p>
      <% end %>
      <% else %>
      <%= link_to new_user_session_path, id: "login" do %>
      <%= image_tag 'tick-white.svg', class: "picture" %>
      <h1>Compare</h1>
      <p>⟶</p>
      <% end %>
      <% end %>
    </div>
    <div class="col3">
      <div class="hidden-text">
        <p>Compare skincare products by ingredients</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal Log-In Pop Up Form -->
<div class="bg-modal login">
  <div class="modal-content">
    <div class="close">+</div>
    <h4>Log In</h4>
    <div class="form">
      <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean  %>
        <div class="form-actions">
          <%= f.button :submit, "Submit", id: "button"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal Sign-up Pop Up Form -->
<div class="bg-modal signup">
  <div class="modal-content">
    <div class="close">+</div>
    <h4>Sign Up</h4>
    <div class="form">
      <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
