
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans" rel="stylesheet">

<div class="main-container">
  <%= link_to items_path, class: 'browse-container' do %>

    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'magnifying-glass-white.svg', class: "picture" %>
      <h1>Browse</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="hidden-text">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  <% end %>


  <%= link_to quiz_path, class: 'find-container' do %>
    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'solution.svg', class: "picture" %>
      <h1>Quiz</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="hidden-text">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  <% end %>


  <div class="check-container">
        <div class = "col1">
        </div>

        <div class = "col2">
          <% if current_user %>
            <%= link_to user_path(current_user) do %>
                <%= image_tag 'tick-white.svg', class: "picture" %>
                <h1>Compare</h1>
                <p>⟶</p>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
                <%= image_tag 'tick-white.svg', class: "picture" %>
                <h1>Compare</h1>
                <p>⟶</p>
            <% end %>
          <% end %>
        </div>

      <div class = "col3">
        <div class="hidden-text">
          <p >Compare a skin care product<br>Compare through carefully chosen skincare products</p>
        </div>
      </div>
  </div>

</div>
