
<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans" rel="stylesheet">

<div class="main-container">
  <a href="/items" class="browse-container">
    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'magnifying-glass-white.svg', class: "picture" %>
      <h1>Browse</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="hidden-text">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  </a>


  <a href="/items" class="find-container">
    <div class = "col1">
    </div>

    <div class = "col2">
     <%= image_tag 'solution.svg', class: "picture" %>
      <h1>Find</h1>
      <p>⟶</p>
    </div>

    <div class = "col3">
      <div class="hidden-text">
        <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
      </div>
    </div>
  </a>


  <div class="check-container">
        <div class = "col1">
          <div class="homepage-login hidden-text">
            <ul>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "main-navbar-link" %>

              <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "main-navbar-link" %>
             </ul>
        </div>
        </div>

        <div class = "col2">


          <% if current_user %>
            <%= link_to user_path(current_user) do %>
                <%= image_tag 'tick-white.svg', class: "picture" %>
                <h1>Check</h1>
                <p>⟶</p>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
                <%= image_tag 'tick-white.svg', class: "picture" %>
                <h1>Check</h1>
                <p>⟶</p>
            <% end %>
          <% end %>
      </div>

      <div class = "col3">
        <div class="hidden-text">
          <p >Browse a skin care product<br>Browse through carefully chosen skincare products</p>
        </div>
      </div>

</div>
