<div class="col-lg-3 col-md-4 col-sm-6 item-card">
  <%= link_to item_path(item) do %>
  <div class = "index-card">
    <div class = "picture-container">
      <div class = "item-picture">
        <%= image_tag(item.picture_url) %>
      </div>
    </div>
    <div class = "information">
      <% if current_page?(items_path) %>
        <h5><%= item.name.truncate(27) %></h5>
      <% else %>
        <h5><%= item.name %></h5>
      <% end %>
      <h5 class="padding-card"><strong><%= item.brand %></strong></h5>
      <% if defined? package_item %>
      <%= link_to package_item_path(package_item), method: :delete, data: {confirm: "are you sure?"} do  %>
        <i class="fas fa-trash"></i>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
