<link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans|Karla" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = "show-wrapper">
<div class="container">
	<div class="row padding-top">
		<div class="col-lg-4 col-lg-offset-2 col-xs-12">
			<div class="color-gray">
				<div class="picture-show">
					<%= image_tag(item.picture_url) %>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xs-9">
			<p class="title"><strong><%= item.name %></strong></p>
			<p>Brand (Argentum)</p>
			<%= simple_form_for(@package_item) do |f| %>
			<%=  f.hidden_field :package_id %>
				<%=  f.hidden_field :item_id %>

			<p>Price (15 EUR)
				<%= f.button :button do %> <i class="fas fa-shopping-cart"></i>
			<% end %>
			<% end %></p>
			<ul class="nav nav-tabs-ingredients">
				<li class="active ingredient-text"><a class="link-tab" href="#tab-1">INGREDIENTS</a></li>
				<li class="ingredient-text last"><a class="link-tab" href="#tab-2">MORE INFORMATION</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane active">
					<p> Water\Aqua\Eau; Bifida Ferment Lysate; Methyl Gluceth-20; Peg-75; Bis-Peg-18 Methyl Ether Dimethyl Silane; Butylene Glycol; Propanediol; Cola Acuminata (Kola) Seed Extract; Hydrolyzed Algin; Pantethine; Caffeine; Lecithin; Tripeptide-32; Ethylhexylglycerin; Sodium Rna; Bisabolol; Glycereth-26; Squalane; Sodium Hyaluronate; Oleth-3 Phosphate; Caprylyl Glycol; Lactobacillus Ferment; Oleth-3; Oleth-5; Anthemis Nobilis (Chamomile); Yeast Extract\Faex\Extrait De Levure; Choleth-24; Hydrogenated Lecithin; Ceteth-24; Tocopheryl Acetate; Ethylhexyl Methoxycinnamate; Hexylene Glycol; Carbomer; Triethanolamine; Trisodium Edta; Bht; Xanthan Gum; Phenoxyethanol; Red 4 (Ci 14700); Yellow 5 (Ci 19140) </p>
				</div>
				<div id="tab-2" class="tab-pane">
					<p>What we say Drum roll, standing ovation, sound the klaxon - this award-winning serum is a best-seller for a very good reason - it works! And boy does it work; containing exclusive technology it gets to work overnight on all signs of aging for brighter, more youthful skin come morning. Apply a few drops to your finger tips and really massage it into your skin for more hydration and fewer fine lines and wrinkles.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
