<% content_for :content do %>
<div class="container">
  <div class="container-grid">
    <header>
      <h1 class="upper-left"> <strong> Unclogd </strong> </br></br></h1>
    </header>

    <nav class="side-nav">

      <ul class="dashboard-links" style="list-style-type:none;>
        <li class="<%= "active" if @active_tab == "overview" %>"><%= link_to "OVERVIEW", user_path(current_user) %></li>
        <li class="<%= "active" if @active_tab == "account details" %>"><%= link_to "ACCOUNT DETAILS", user_path(current_user) %></li>
        <li class="<%= "active" if @active_tab == "Orders" %>"><%= link_to "ORDERS", orders_path %></li>
        <li class="<%= "active" if @active_tab == "Root" %>"><%= link_to "BACK", root_path %></li>
      </ul>
    </nav>

    <main>
      <div class="container bootstrap center" style="overflow: auto; width:710px; height:600px;">

        <%= yield %>

      </div>

    </main>
  </div>
</div>


<% end %>
<% @dashboard = true %>

<%= render template: "layouts/application" %>
